*{background: rgb(147, 111, 111);
text-align: center;
}

.imge img{
    width: 200px;
    height: 200px;
    border: 2px solid blue;


}
.imge img:hover{
    cursor: pointer;
    border: 2px solid palevioletred;

}

.main img{width: 830px; 
    height: 830; 
  border: 2px solid blue;



}